# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.aab
*.apk

# Android
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/android/*.jks
**/android/*.keystore

# Node & IDE
node_modules/
dist/
.vscode/
.idea/
*.log
